{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Logged out</h1>

        <a href="{{ url('security_login') }}" class="btn btn-lg btn-primary">
            Login
        </a>
    </form>
{% endblock %}
